*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.nav-bar{
    height: 60px;
    background-color: beige;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    width: 100px;
    height: 50px;
    padding: 3px;
}
.logo{
    background-image: url("amazon.png");
    background-size: cover;
    
    height: 50px;
    width: 70%;
}

.border:hover{
    border: 2px solid rgb(226, 92, 92)
}

/* box-2 */

.add-first{
    font-size: 0.80rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1.2rem;
    margin: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* box-3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
   background-color: aqua;
    width: 625px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #dbd9d9;
    width:50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    font-size: 1.2rem;
    background-color: rgb(251, 169, 18);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* box-4 */
span{
    font-size: 0.75rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart */

.cart{
    width:50px;
    height:50px;
    
    display: flex;
    align-items: center;
}
.cart i{
    font-size: 25px;
}
.cart span{
    font-size: 0.7rem;
    font-weight: 700;
}